
<div style="margin-top: 140px">
            
    <div class="container">
     <div class="card">
    <h2 style="color: red ; font-size: 40px ; margin-left:450px; margin-bottom: 30px">User Details</h2> 
    <div class="card-body">
     <table class="table table-striped">
    <thead>
     <th>Name</th>
     <th> Email</th>
      <th>Password</th>
      <th>Role</th>
     <th>Actions</th>
      </thead>
     <tbody>
     <tr *ngFor="let user of users">
      <td> {{ user.fullName}}</td>
     <td> {{user.email}}</td>
    <td> {{user.password}}</td>
    <td> {{ user.role}}</td>
     <td>
    <button (click)="updateUser(user._id)" style="margin-left: 10px" type="button" class="btn btn-primary">Update</button>
    <button (click)="deleteUser(user._id)"style="margin-left: 10px" type="button" class="btn btn-danger">Delete</button>
     <button (click)="userDetails(user._id)"  style="margin-left: 10px"  type="button" class="btn btn-warning">Details</button></td>  
    </tr>
     </tbody>
      </table>
      </div>
     </div>
     </div>
    </div>
    <a routerLink="/create-user" ><button style="margin-top: 20px ; margin-left: 10px" type="button" class="btn btn-primary btn-lg btn-block"> Add User</button> </a>
    